*, html, body {
 margin : 0px;
 padding: 0px;
 font-family: "Roboto", sans-serif;
 height: 100%;
 
}

.Container {
    display: flex;
    justify-content: space-between;
    align-items: top;
    height: 100vh;
    background-color: rgba(119, 136, 153, 0.651);
    background-image: url("./main-bg.jpg");
    background-repeat:no-repeat scroll;
    background-size: cover;
    background-position: center;
    min-height: 100px;
    box-shadow: 0 7px 15px 0 rgba(15, 2, 2, 0.5);

}

.wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.459)

}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;

}

.firstname {
    color: white;
    font-weight: 500;
    padding-left: 10px;
    
}

.navigation{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.navigation>li {
    list-style-type: none;
    padding: 15px;
    margin: 30px;

}
.navigation >li>a {
    display: flex;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
   
   
           
      
           
}

.navigation>li>:hover {
    color: crimson;
    transition: all.3s ease-in-out
}
.navbar-extra{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding: 6px;
    color: white;
    margin: 30px;

}
.navbar-extra>a {
    justify-content: center;
    list-style-type: none;
    padding: 20px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    
  
}

.hero {
    position: absolute;
    top:  35%;
    left: 25%;
}
.hero h1{
    display: flex;
    justify-content: center;
    padding: 30px;
    color : white;
    font-size: 70px;
    text-shadow: -4px 4px 4px #000;
     
}
.hero p {
    position: absolute;
    top:  15%;
    left: 25%;
    color: white;
    font-size: 40px;
    text-align: center;
    margin-right: 50px;
}

.content>button {
    position: absolute;
    padding: 10px;
    top:  20%;
    left: 42%;
    height: 10px;
    margin-top: 10px;
    font-size: 20px;
    min-height: 50px;
    font-weight: bolder;
    color: black;
    background-color: rgba(255, 187, 0, 0.87);
    border: none;
    outline: none;
    border-radius: 4px;
    
}

.footer {
    position: absolute;
    top:  60%;
    left: 45%;
    color: white;
    font-size: 10px;
       
}
.footer>img{
    position: absolute;
    top:  10px;
    left: 17px;
    height: min-content;
    font-weight: bolder;
  
}
 

.halaman2 {
    color: white;
    background-color: black;
    background-image: url("./the-games-bg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;

}

.box1 {
    font-size: 20px;
    justify-content: 30px;
    margin-right: 40px;
    
}

.box1 h2 {

       font-size: 50px;
}

.box1 {
    margin-top: 50vh;
    font-size: 20px;
}

.slide {
    border: 1px rgb(250, 249, 249);
    width: 75%;
    height: 75%;
    margin-top: 5%;

        
}

.carousel-control-prev {
    margin-left: -5em;
    
}

.carousel-control-prev-icon{
    margin-right: -9em;

}

.carousel-control-prev-icon {
    background-image: url("./switch-left.svg");
    color: white;
}

.carousel-control-next-icon {
    background-image: url("./switch-right.svg")
}


.halaman3 {
    background-image: url("./features.jpg");
    background-color:black;
    background-size: 100%;
    background-position: center;
    height: max-content;
    background-repeat: no-repeat;
    margin-right: 11%;
    margin-top: 5%;
   
}

.gamer {
    border: 1px rgb(212, 62, 62);
    width: 100%;
    height: 100%;
    margin-top: 15%;

}

.lingkaran {
    background-color: white;
    position:absolute;
    display: flex;
    width: 0.80em;
    height: 0.80em;
    border-radius: 100%;
    margin-top: 1.8em;
    margin-left: 1.95em;


}

.garis {
    background-color: white;
    position: absolute;
    margin-top: 1.85em;
    margin-left: -1.60em;
    height: 9.5em;
    width: 1px;

}

.gameran-2 {
    color:white;
    line-height: 2;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 3em;
    letter-spacing: 0px;
}

.gameran ul{
    list-style: none;
    color: darkorange;
   
 }

 




 





 


