*, html, body {
 margin : 0px;
 padding: 0px;
 font-family: "Roboto", sans-serif;
 height: 100%;
 
}

.Container {
    display: flex;
    justify-content: space-between;
    align-items: top;
    height: 100vh;
    background-color: rgba(119, 136, 153, 0.651);
    background-image: url("./aset/main-bg.jpg");
    background-repeat:no-repeat scroll;
    background-size: cover;
    background-position: center;
    min-height: 100px;
    box-shadow: 0 7px 15px 0 rgba(15, 2, 2, 0.5);

}

.wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    width: 100%;
    height: 100px;
    margin-top: 0px;
    
    background-color: rgba(0, 0, 0, 0.459)

}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;

}

.firstname {
    color: white;
    font-weight: 500px;
    margin-top: -20px;
    padding-left: 10px;
    
}

.navigation{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.navigation>li {
    list-style-type: none;
    padding: 15px;
    margin: 30px;

}
.navigation >li>a {
    display: flex;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
 
}

.navigation>li>:hover {
    color: crimson;
    transition: all.3s ease-in-out
}
.navbar-extra{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding: 6px;
    color: white;
    margin-top: 10px;

}
.navbar-extra>a {
    justify-content: center;
    list-style-type: none;
    padding: 20px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    
  
}

.hero {
    position: absolute;
    top:  35%;
    left: 25%;
}
.hero h1{
    display: flex;
    justify-content: center;
    height : 100px;
    color : white;
    font-size: 70px;
    text-shadow: -4px 4px 4px #000;
     
}
.hero p {
    display: flex;
    justify-content: center;
    color: white;
    height: 50px;
    font-size: 40px;
    text-align: center;
    margin-right: 50px;
}

.content {
    padding-bottom: -500px;
}
.content>button {
    position: absolute;
    top:  20%;
    left: 42%;
    height: 0px;    
    font-size: 20px;
    min-height: 50px;
    font-weight: bolder;
    color: black;
    background-color: rgba(255, 187, 0, 0.87);
    border: none;
    outline: none;
    border-radius: 4px;
    margin-top: 35px;
    
}

.div-btn {
    height: 100px;
}

.footer {
    position: absolute;
    height: 30px;
    width: 100px;
    top:  60%;
    left: 45%;
    color: white;
    font-size: 15px;
    
       
}
.footer>img{
    justify-content: center;
    position: absolute;
    top:  10px;
    left: 17px;
    height: 20px;
    font-weight: bolder;
  
}
 
/* section2 */
.halaman2 {
    color: white;
    background-color: black;
    background-image: url("./aset/the-games-bg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;

}

.box1 {
    display: absolute;
    height: max-content;
    float: left;
    font-size: 20px;
    justify-content: 30px;
    margin-bottom: 400px;
    margin-right: 100px;

    
}

.box1 h2 {
    height: max-content;
    font-size: 50px;
    
}

.slide {
    border: 1px rgb(250, 249, 249);
    width: 80%;
    height: 80%;
    margin-top: 5%;

        
}

.carousel-control-prev {
    margin-left: -5em;
    
}

.carousel-control-prev-icon{
    margin-right: -9em;

}

.carousel-control-prev-icon {
    background-image: url("./aset/switch-left.svg");
    color: white;
}

.carousel-control-next-icon {
    background-image: url("./aset/switch-right.svg")
}

/* section 3 */
.halamanfeatures {
    background-image: url("./aset/features.jpg");
    /* background-color:black; */
    background-size: cover;
    background-position: center;
    height: 135vh;
    width: 1860px;
    margin-top: 0px;
    margin-left: -400px;
    padding-right: 300px;
   
    /* background-repeat: no-repeat;
    margin-right: 11%;
    margin-top: 5%;
    */
}

.judulfeatures{
    text-align: center;
    height:  50px;
    margin-right: -700px;
    padding-top: 200px;

}
.test {
    margin-top: 50px;
    letter-spacing: 4px;
    font-size: 80px;
    margin-left: 230px;

}

.tutorial{
    height:50px;
    text-align: start;
    margin-top: 250px;
    margin-left: 1050px;
}

.tutorial h3 {
    color : gold;
    
}

.text {
    margin-top: 100px;
}

/* section 4 */

.system{
    background-image: url("./aset/requirements.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 1860px;
    margin-top: 0px;
    margin-left: -400px;
    padding-right: 300px;
    
}

.bentuk{
 text-align:center;
 margin-right: 800px;
 margin-bottom: 200px;
}

.nanya {
    color :white;
    text-align: center;
    margin-top:-850px;
    font-size: 20px;
    height:100px;
}






 





 


